.book-image {
    max-width: 180px;
    margin-bottom: 12px;
    display: block;
}

.label {
    font-weight: 600;
    display: inline-block;
    width: 80px;
    /* or adjust width as needed */
}

.value {
    font-weight: normal;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.book {
    margin-bottom: 28px;
}