<div class="products-bg"></div>
<!-- <h2>Stories Delivered, Just a Click Away...</h2> -->

<div *ngIf="loading" class="products-grid">
    <div class="book skeleton" *ngFor="let s of [].constructor(8)">
        <div class="skeleton-img"></div>
        <div class="skeleton-title"></div>
        <div class="skeleton-text"></div>
        <div class="skeleton-text short"></div>
        <div class="skeleton-text short"></div>
        <div class="skeleton-btn"></div>
    </div>
</div>
<div *ngIf="!loading && products.length === 0">No books found.</div>

<div *ngIf="!loading && paginatedProducts.length > 0" class="products-grid">
    <div *ngFor="let product of paginatedProducts" class="book">
        <h3>{{ product.name }}</h3>
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.name }}" class="book-image" />
        <p>{{ product.description }}</p>
        <p class="label">Authors: <span class="value">{{ product.authors || 'Unknown' }}</span></p>
        <p class="label">Category: <span class="value">{{ product.category }}</span></p>
        <p class="label">Price: <span class="value">₹{{ product.price }}</span></p>
        <p class="label">

            <span [ngClass]="{'available': product.available, 'unavailable': !product.available}" class="value">
                {{ product.available ? 'Available' : 'Out of Stock' }}
            </span>
        </p>

        <button class="add-to-cart-btn" (click)="addToCart(product.id)" [disabled]="!product.available">
            <span class="cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <circle cx="9" cy="21" r="1" />
                    <circle cx="20" cy="21" r="1" />
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h7.72a2 2 0 0 0 2-1.61L23 6H6" />
                </svg>
            </span>
            Add to Cart
        </button>
    </div>
</div>
<div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPrevious()" [disabled]="currentPage === 1">Previous</button>

    <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)"
        [class.active]="currentPage === (i + 1)">
        {{ i + 1 }}
    </button>

    <button (click)="goToNext()" [disabled]="currentPage === totalPages">Next</button>
</div>