<nav>
    <div class="left-nav">
        <span *ngIf="authService.getUsername()">{{ authService.getUsername() }}</span>
    </div>

    <div class="right-nav">
        <a *ngIf="authService.getUserId()" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a *ngIf="authService.getUserId()" routerLink="/products" routerLinkActive="active">Products</a>

        <a *ngIf="!authService.getUserId()" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        <a *ngIf="!authService.getUserId()" routerLink="/login" routerLinkActive="active">Login</a>

        <a *ngIf="authService.getUserId()" routerLink="/cart" routerLinkActive="active">Cart</a>

        <a *ngIf="authService.getUserId()" routerLink="/my-orders" routerLinkActive="active">My Orders</a>

        <button *ngIf="authService.getUserId()" (click)="logout()">Logout</button>
    </div>
</nav>