<div class="cart-container">
    <h2>Your Cart</h2>
    <div *ngIf="cartItems.length === 0">
        <div class="empty-cart-container">
            <span class="empty-cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <circle cx="9" cy="21" r="1" />
                    <circle cx="20" cy="21" r="1" />
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h7.72a2 2 0 0 0 2-1.61L23 6H6" />
                    <line x1="6" y1="6" x2="18" y2="18" stroke="#ff3b3b" stroke-width="3.5" stroke-linecap="round" />
                </svg>
            </span>
            <p>Your cart is empty.</p>
        </div>
    </div>
    <table *ngIf="cartItems.length > 0" class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Author</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td>
                    <img *ngIf="item.product?.imageUrl" [src]="item.product?.imageUrl" alt="{{ item.product?.name }}"
                        class="product-img" />
                    {{ item.product?.name }}
                </td>
                <td>{{ item.product?.author }}</td>
                <td>&#8377; {{ item.product?.price }}</td>
                <td>
                    <button (click)="updateQuantity(item.id, quantityInputs[item.id] - 1)"
                        [disabled]="quantityInputs[item.id] <= 1">-</button>
                    <input type="number" [(ngModel)]="quantityInputs[item.id]" min="1" max="5"
                        (change)="updateQuantity(item.id, quantityInputs[item.id])" style="width: 40px;" />
                    <button (click)="updateQuantity(item.id, quantityInputs[item.id] + 1)"
                        [disabled]="quantityInputs[item.id] >= 5 || quantityInputs[item.id] >= item.product?.stockQuantity">+</button>
                </td>
                <td>&#8377; {{ quantityInputs[item.id] * (item.product?.price || 0) }}</td>
                <td>
                    <button (click)="removeFromCart(item.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="cartItems.length > 0" class="cart-total">
        <strong>
            Total: &#8377; {{ cartTotal }}
        </strong>
    </div>

    <button (click)="onPlaceOrder()" [disabled]="cartItems.length === 0">Place Order</button>
</div>